.navbar-jesska {
  background-color:#fff;
  box-shadow:0 2px 10px #0000001a;
  padding:15px 0
  }
  
  .navbar-brand-jesska {
  font-size:28px;
  font-weight:700;
  color:#000;
  letter-spacing:1px
  }
  
  .nav-link-jesska {
  font-weight:500;
  color:#333;
  margin:0 10px;
  position:relative;
  text-transform:uppercase;
  font-size:14px
  }
  
  .nav-link-jesska:hover {
  color:#000
  }
  
  .nav-link-jesska:after {
  content:'';
  position:absolute;
  width:0;
  height:2px;
  background:#000;
  bottom:-5px;
  left:0;
  transition:width .3s
  }
  
  .nav-link-jesska:hover:after {
  width:100%
  }
  
  .navbar-toggler-jesska {
  border:none;
  padding:5px
  }
  
  .navbar-toggler-jesska:focus {
  box-shadow:none
  }

  .jesska-btn {
    background-color: #1a1a1a;
    color: #9a9a9a;
    border: 1px solid #1a1a1a;
    padding: 0.7rem 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  .jesska-btn:hover{
    background-color: transparent;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
    transform: scale(1.05);
  }
    .jesska-btn-sesiones {
    background-color: transparent;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
    padding: 0.4rem 0.4rem;
    font-weight: 500;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s all;
  }
  .jesska-btn-sesiones:hover{
    background-color: #1a1a1a;
    color: white;
  }
  .jesska-banner-envio{
    background-color: #f8f8f8;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.95rem;
    color: #111;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}
.jesska-banner-envio .compra{
  font-weight: bold;
  color: #111;
  text-decoration: none;
  font-size: 0.85rem;
}
.jesska-banner-envio .compra:hover{
  text-decoration: underline;
}
.jesska-card-horizontales{
  height: 800px;
  background-color: #eee;
  border-radius: 8px;
}
.jesska-card-horizontales img{
  height: 100%;
  object-fit: cover;
  filter: brightness(85%);
}
.jesska-overlay-text{
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 2;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.jesska-card-horizontales .btn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #1a1a1a;
    padding: 0.4rem 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.jesska-card-horizontales .btn:hover {
    background-color: #232323;
    color: #c1c1c1;
    border: 1px solid #1a1a1a;
    transform: scale(1.05);
}